:root {
    --gold: #D4AF37;  /* gold */
    --green: #017A45; /* Green */
    --black: black; /* black */
    --off-white: #F8F5F0; /* off-white */
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    color: var(--black);
    padding: 0px;
    font-family: "Lato", serif;
    font-weight: 500 !important;
    font-style: normal;
}
nav{
    border-bottom: 5px solid var(--gold);
    
}
.nav-item a{
    color: var(--gold) !important;
    font-size: 20px;
    padding: 12px 25px !important;
    margin: 2px 10px;
    transition: all 0.3s ease-in-out; 
    border-radius: 50px;
}
.nav-item a:hover{
    color: var(--black) !important;
    
    background:  var(--gold) !important;
    
}
#bookNow {
    color: var(--black) !important;
    background: var(--gold) !important;
    padding: 10px 25px !important;
    border: 5px solid var(--gold);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: color 1s ease-in-out;
    text-decoration: none; /* Remove underline */
    font-weight: bold;
}

/* Background sliding effect */
#bookNow::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background: var(--black);
    transition: right 1s ease-in-out;
    z-index: 0;
}

#bookNow:hover::before {
    right: 0;
    z-index: -1;
}

/* Keep the text above the background */
#bookNow {
    position: relative;
    z-index: 1;
    transition: color 1s ease-in-out;
}

/* Change text color on hover */
#bookNow:hover {
    color: var(--off-white) !important;
}


/* banner section */
#banner {
    height: 100vh;
    /* background: linear-gradient(to bottom, var(--green) .00001%, rgba(0, 128, 0, 0) 100%),    url("../image/banner.jpg");  */
    background: url(../image/banner.jpg);
    background-size: cover; /* Ensures the image covers the entire banner */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating *
}
